Django==1.7.2
PyMySQL==0.6.3
-e git+https://github.com/PSU-OIT-ARC/django-arcutils.git#egg=django_arcutils-origin/master
-e git+https://github.com/PSU-OIT-ARC/djangocas.git#egg=djangocas-origin/master
ordereddict==1.1
pyasn1==0.1.7
python3-ldap==0.9.7
pytz==2014.10
six==1.9.0
