/* 
 * dark green: 566E10;
 * light green: 8B9822
 */
body { 
    background-color:#F2F3EE; 
    margin:0;
    padding:0;
}

label {
    display:block;
    margin-top:10px;
}

a:link, a:visited, a:hover {
    color:#A33F1F;
}

a:hover {
    color:#603417;
}

label.radio {
    margin-top:0;
}

textarea {
    display:block;
}

select[multiple] {
    height:200px;
}

.left {
    text-align:left !important;
}

.submit {
    display:block;
    margin-top:10px;
}

.errorlist {
    color:#ff0000;
    margin-top:0;
}

.error {
    color:#ff0000;
}

td.error input {
    background-color:#ff0000;
}

.helptext {
    display:block;
    font-size:11px;
}

.clear {
    clear:both;
}

.data {
    border-collapse:collapse;
    border:1px solid black;
}

.data td {
    border:1px solid black;
    border-spacing:1px;
    padding:3px;
}

.data .number {
    text-align:right;
}

.form-button {
    display:inline;
}

.form-button input {
    background:none;
    border:none;
    font:inherit;
    padding:0;
    margin:0;
    border:1px dotted black;
}

.panel-view {
    width:100%;
}

.panel-view td {
    vertical-align:top;
    width:33%;
}

#header {
    background: #141c00 no-repeat center top;
    background-image:url("/static/img/header-1.jpg");
    padding:10px;
    height:75px;
}

#header h1 {
    margin-bottom:0;
    padding-bottom:0;
    float:right;
    margin-right:30px;
    color:#fff;
    font-size:18px;
}

#header img {
    padding-top:20px;
}

#header-inner, #content-inner {
    width:800px;
    margin:auto;
}

#content {
    background-color:#fff;
    margin:auto;
}

#content-inner {
    padding:20px;
}

#admin-nav {
    margin-left:0;
    padding-left:0;
}

#admin-nav li {
    float:left;
    list-style-type:none;
    margin-right:20px;
    margin-left:0;
}

.ment-button {
    background-color:#8B9822;
    width:250px;
    border-radius:10px;
}

.ment-button a {
    color:inherit;
    padding:5px;
    display:inline-block;
}

.ment-button h3 {
    text-align:center;
    color:#fff;
    margin-bottom:0;
    margin-top:0;
}

.mentor-button {
    float:left;
    margin-left:100px;
}

.mentee-button {
    float:right;
    margin-right:100px;
}

.survey {

}

.survey th {
    text-align:left;
}

.survey h2 {
    margin-bottom:10px;
}

.likert {
    border-collapse:0;
    border-spacing:0;
}

.likert td {
    padding:3px;
}

.likert thead th {
    text-align:center;
}

.likert tbody td.likert-option {
    text-align:center;
    width:50px;
}

.likert tbody td.likert-option:hover {
    background-color:#999;
}

.likert tbody tr:hover td {
    background-color:#efefef;

}
