/* 
 * dark green: 566E10;
 * light green: 8B9822
 */
body { 
    background-color:#F2F3EE; 
    margin:0;
    padding:0;
}

label {
    display:block;
}

textarea {
    display:block;
}

.left {
    text-align:left !important;
}

.submit {
    display:block;
}

.errorlist {
    color:#ff0000;
    margin-top:0;
}

.clear {
    clear:both;
}

.form-button {
    display:inline;
}

.form-button input {
    background:none;
    border:none;
    font:inherit;
    text-decoration:underline;
}

.panel-view {
    width:100%;
}

.panel-view td {
    vertical-align:top;
    width:33%;
}

#header {
    background: #141c00 no-repeat center top;
    background-image:url("/static/img/header-1.jpg");
    padding:10px;
    height:75px;
}

#header h1 {
    margin-bottom:0;
    padding-bottom:0;
    float:right;
    margin-right:30px;
    color:#fff;
    font-size:18px;
}

#header img {
    padding-top:20px;
}

#header-inner, #content-inner {
    width:800px;
    margin:auto;
}

#content {
    background-color:#fff;
    margin:auto;
}

#content-inner {
    padding:20px;
}


.ment-button {
    background-color:#8B9822;
    width:250px;
    border-radius:10px;
}

.ment-button a {
    color:inherit;
}

.ment-button h3 {
    text-align:center;
    color:#fff;
    margin-bottom:0;
    margin-top:0;
}

.mentor-button {
    float:left;
    margin-left:100px;
}

.mentee-button {
    float:right;
    margin-right:100px;
}

.survey {

}

.survey th {
    text-align:left;
}

.survey h2 {
    margin-bottom:10px;
}

.likert thead th {
    text-align:center;
}

.likert tbody td.likert-option {
    text-align:center;
    width:50px;
}

.likert tbody td.likert-option:hover {
    background-color:#999;
}
