/* 
 * dark green: 566E10;
 * light green: 8B9822
 */
body { background-color:#efefef; }
label {
    display:block;
}

textarea {
    display:block;
}

.submit {
    display:block;
}

.clear {
    clear:both;
}

.ment-button {
    background-color:#8B9822;
    width:250px;
    border-radius:10px;
}

.ment-button a {
    color:inherit;
}

.ment-button h3 {
    text-align:center;
    color:#fff;
    margin-bottom:0;
    margin-top:0;
}

.mentor-button {
    float:left;
    margin-left:100px;
}

.mentee-button {
    float:right;
    margin-right:100px;
}

#content {
    background-color:#fff;
    padding:20px;
}

.survey {

}

.survey th {
    text-align:left;
}

.survey h2 {
    margin-bottom:10px;
}

.likert thead th {
    text-align:center;
}

.likert tbody td {
    text-align:center;
    width:50px;
}

.likert tbody td:hover {
    background-color:#333;
}
