<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    </head>
    <body>
        {% block body %}
            <div id="header">
                {% block header %}
                    <div id="header-inner">
                        <img src="http://www.pdx.edu/sites/all/themes/pdx_primary/logo.png" />
                        <h1>{% block header_title %}Global Diversity and Inclusion{% endblock %}</h1>
                    </div>
                {% endblock %}
            </div>

            <div id="content">
                <div id="content-inner">
                {% block content %}{% endblock %}
                </div>
            </div>

            <div id="footer">
                {% block footer %}
                <hr />
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
