{% extends 'base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
    <h2>Mentor-Mentee Matching</h2>
    <p>Some text here to describe the purpose of the application, instructions, etc.</p>

    <div class="ment-button mentor-button">
        <h3><a href="{% url 'surveys-mentor' %}">I am a mentor</a></h3>
    </div>

    <div class="ment-button mentee-button">
        <h3><a href="{% url 'surveys-mentee' %}">I want to be mentored</a></h3>
    </div>

    <div class="clear"></div>
{% endblock %}

