{% extends 'base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
<h2>Scores</h2>
<table>
    <thead>
        <tr>
            <td>&nbsp;</td>
            {% for mentor in mentors %}
                <td><a href="{% url "surveys-response" mentor.response_id %}">{{ mentor.user.username }}</a></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>
                {% if row|length %}
                <a href="{% url "surveys-response" row.0.mentee.response_id %}">{{ row.0.mentee.user.username }}</a></td>
                {% endif %}
                {% for col in row %}
                    <td>{{ col.score }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="panel-view"><tr><td>

<h2>Suitors</h2>
<ul>
{% for mentee in unmatched_mentees %}
    <li>{{ mentee.user.username }} {{ mentee.pk }}
        <ul>
        {% for suitor in mentee.suitors %}
            <li>
                {{ suitor.user.username }} {{ suitor.pk }} 
                <form method="post" action="{% url 'matches-engage' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.pk }}" />
                    <input type="hidden" name="mentor_id" value="{{ suitor.pk }}" />
                    <input type="submit" name="submit" value="Engage" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

</td>
<td>

<h2>Engagements</h2>
<ul>
{% for match in engagements %}
    <li>
        {{ match.mentor.user.username }} <=> {{ match.mentee.user.username }}
        <form method="post" action="{% url 'matches-marry' %}" class="form-button">
            {% csrf_token %}
            <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
            <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
            <input type="submit" name="submit" value="Marry" />
        </form>

        <form method="post" action="{% url 'matches-breakup' %}" class="form-button">
            {% csrf_token %}
            <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
            <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
            <input type="submit" name="submit" value="Breakup" />
        </form>
    </li>
{% endfor %}
</ul>

</td>
<td>
<h2>Marriages</h2>
<ul>
{% for match in marriages %}
    <li>
        {{ match.mentor.user.username }} <=> {{ match.mentee.user.username }}
        <form method="post" action="{% url 'matches-divorce' %}" class="form-button">
            {% csrf_token %}
            <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
            <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
            <input type="submit" name="submit" value="Divorce" />
        </form>
    </li>
{% endfor %}
</ul>

</td>
</tr>
</table>

<h2>Mentees</h2>
<ul>
{% for mentee in mentees %}
    <li>{{ mentee.user.username }}
        <form method="post" action="{% url 'mentees-delete' %}" class="form-button">
            {% csrf_token %}
            <input type="hidden" name="mentee_id" value="{{ mentee.pk }}">
            <input type="submit" name="submit" value="Remove" />
        </form>
    </li>
{% endfor %}
</ul>

<h2>Mentors</h2>
<ul>
{% for mentor in mentors %}
    <li>{{ mentor.user.username }}
        <form method="post" action="{% url 'mentors-delete' %}" class="form-button">
            {% csrf_token %}
            <input type="hidden" name="mentor_id" value="{{ mentor.pk }}">
            <input type="submit" name="submit" value="Remove" />
        </form>
    </li>
{% endfor %}
</ul>

{% endblock %}

