{% extends 'base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
<h2>Scores</h2>
<table>
    <thead>
        <tr>
            <td>&nbsp;</td>
            {% for mentor in mentors %}
                <td><a href="{% url "surveys-response" mentor.response_id %}">{{ mentor.user.username }}</a></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td><a href="{% url "surveys-response" row.0.mentee.response_id %}">{{ row.0.mentee.user.username }}</a></td>
                {% for col in row %}
                    <td>{{ col.score }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Potential Matches</h2>
<ul>
{% for mentee in unmatched_mentees %}
    <li>{{ mentee.user.username }} {{ mentee.pk }}
        <ul>
        {% for suitor in mentee.suitors %}
            <li>
                {{ suitor.user.username }} {{ suitor.pk }}
                <form method="post" action="{% url 'matches-engage' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.pk }}" />
                    <input type="hidden" name="mentor_id" value="{{ suitor.pk }}" />
                    <input type="submit" name="submit" value="Engage" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

<h2>Matches</h2>
<ul>
{% for match in matches %}
    <li>
        {{ match.mentor.user.username }} <=> {{ match.mentee.user.username }}
        {% if match.notified_on %} <!-- the couple is married -->
            <form method="post" action="{% url 'matches-divorce' %}" class="form-button">
                {% csrf_token %}
                <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
                <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
                <input type="submit" name="submit" value="Divorce" />
            </form>
        {% else %}
            <form method="post" action="{% url 'matches-marry' %}" class="form-button">
                {% csrf_token %}
                <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
                <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
                <input type="submit" name="submit" value="Marry" />
            </form>

            <form method="post" action="{% url 'matches-breakup' %}" class="form-button">
                {% csrf_token %}
                <input type="hidden" name="mentee_id" value="{{ match.mentee.pk }}" />
                <input type="hidden" name="mentor_id" value="{{ match.mentor.pk }}" />
                <input type="submit" name="submit" value="Breakup" />
            </form>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}

