{% extends 'admin.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
{{ block.super }}
<h2>Manage Mentors/Mentees</h2>
<h2>Mentees</h2>
<ul>
{% for mentee in mentees %}
    <li>
        <a href="{% url 'surveys-response' mentee.response_id %}">{{ mentee.user.username }}</a>
        <a href="{% url 'mentees-delete' 'mentees' %}?id={{ mentee.pk }}">Delete</a>
    </li>
{% endfor %}
</ul>

<h2>Mentors</h2>
<ul>
{% for mentor in mentors %}
    <li>
        <a href="{% url 'surveys-response' mentor.response_id %}">{{ mentor.user.username }}</a>
        <a href="{% url 'mentors-delete' 'mentors' %}?id={{ mentor.pk }}">Delete</a>
    </li>
{% endfor %}
</ul>

{% endblock %}

