{% if field.question.start_layout %}
    <table>
{% endif %}

{% if field.question.layout == Question.NORMAL %}
    {% if not field.question.hide_label %}
        {{ field.label_tag }}
    {% endif %}
    {{ field.errors }}
    {{ field }}
{% else %}
    <tr>
        <th>{{ field.label }}</th>
        <th>{{ field }}</th>
    </tr>
    {% if field.errors %}
        <tr>
            <td class="left" colspan="2">{{ field.errors }}</td>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endif %}

{% if field.question.stop_layout %}
    </table>
{% endif %}
