{% if field.question.start_layout %}
    <table class="likert">
        <thead>
            <tr>
                <td>&nbsp;</td>
                {% for choice in field %}
                    <th>{{ choice.choice_label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
{% endif %}

{% if field.question.layout == Question.NORMAL %}
    {% if not field.question.hide_label %}
        {{ field.label_tag }}
    {% endif %}
    {{ field.errors }}
    {{ field }}
{% else %}
    <tr>
        <td>{{ field.label }} {% if debug %}{{ field.question.pk }}{% endif %}</td> 
        {% for choice in field %}
            <td class="likert-option">{{ choice.tag }}</td>
        {% endfor %}
    </tr>
    {% if field.errors %}
        <tr>
            <td class="left" colspan="{{ field|length }}">{{ field.errors }}</td>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endif %}

{% if field.question.stop_layout %}
        </tbody>
    </table>
{% endif %}
