{% if field.question.start_layout %}
    <table border="1">
        <thead>
            <tr>
                <td>&nbsp;</td>
                {% for choice in field %}
                    <td>{{ choice.choice_label }}</td>
                {% endfor %}
            </tr>
        </thead>

{% endif %}

{% if field.question.layout == Question.NORMAL %}
    {% if not field.question.hide_label %}
        {{ field.label_tag }}
    {% endif %}
    {{ field.errors }}
    {{ field }}
{% else %}
    <tr>
        <th>{{ field.label }}</th>
        {% for choice in field %}
            <td>{{ choice.tag }}</td>
        {% endfor %}
    </tr>
{% endif %}

{% if field.question.stop_layout %}
    </table>
{% endif %}
