{% extends 'surveys/survey.html' %}
{% block content %}
{{ block.super }}
<script type="text/javascript">
function showQuestions(){
    var dependent_question = $('#question_62');
    var siblings = $('#question_62 ~ .question-block');
    var yes_checked = $('input[name="question_61"]:first').prop('checked')
    var no_checked = $('input[name="question_61"]:last').prop('checked')
    if(yes_checked){
        dependent_question.show();
        siblings.hide();
    } else if(no_checked){
        dependent_question.hide();
        siblings.show();
    } else {
        dependent_question.hide();
        siblings.hide();
    }
}

$(document).ready(function(){
    $('input[name="question_61"]').on('click change focus blur', showQuestions);
    showQuestions();
});
</script>
{% endblock %}
