{% extends 'admin.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
{{ block.super }}
<div class="survey">
{% for question in report %}
    {% if question.type == Question.HEADING %}
        <h2>{{ question.body }}</h2>
    {% else %}
        {% if not question.hide_label %}
            <p><em>{{ question.body }}</em>:
        {% endif %}

        {% if question.choice_rows %}
            {% if not question.hide_label %}
                </p>
            {% endif %}
            <ul>
                {% for row in question.choice_rows %}
                    <li>{{ row }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {{ question.choice_body }}
            {% if not question.hide_label %}
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
        
{% endfor %}
</div>
{% endblock %}

