{% extends 'base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
<div class="survey">
<form method="post" action="">
    {% csrf_token %}
    {% for question in report %}
        {% if question.type == Question.HEADING %}
            <h2>{{ question.body }}</h2>
        {% else %}
            {% if not question.hide_label %}
                <p><em>{{ question.body }}</em>: {{ question.choice_body }}</p>
            {% else %}
                <p>{{ question.choice_body }}</p>
            {% endif %}
        {% endif %}
            
    {% endfor %}
    <input type="submit" name="submit" value="Submit" class="submit" />
</form>
</div>
{% endblock %}

