{% extends 'base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
<div class="survey">
<form method="post" action="">
    {% if form.errors %}
        <p class="error">Please answer every question.</p> 
    {% endif %}
    {% csrf_token %}
    {% for field in form.questionFields %}
        {% comment %}
        only wrap this question in a div if it's a question with a normal
        layout, or it's the start of a tabular layout 
        {% endcomment %}
        {% if field.question.layout == Question.NORMAL or field.question.layout == Question.TABULAR and field.question.start_layout %}
            <div id="question_{{ field.question.pk }}" class="question-block">
        {% endif %}

        {% if field.question.type == Question.HEADING %}
            {% include 'surveys/_heading.html' %}
        {% elif field.question.type == Question.CHECKBOX or field.question.type == Question.RADIO %}
            {% include 'surveys/_choice.html' %}
        {% elif field.question.type == Question.SELECT or field.question.type == Question.TEXTAREA or field.question.type == Question.TEXTBOX %}
            {% include 'surveys/_field.html' %}
        {% elif field.question.type == Question.LIKERT %}
            {% include 'surveys/_likert.html' %}
        {% elif field.question.type == Question.SELECT_MULTIPLE %}
            {% include 'surveys/_select_multiple.html' %}
        {% else %}
            <h1>Field probably not rendered properly {{ field }}</h1>
        {% endif %}

        {% if field.question.layout == Question.NORMAL or field.question.layout == Question.TABULAR and field.question.stop_layout %}
            </div>
        {% endif %}
            
    {% endfor %}
    <input type="submit" name="submit" value="Submit" class="submit" />
</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.likert-option').click(function(e){
        var input = $(this).find('input');
        input.prop("checked", true);
    });
});
</script>
{% endblock %}

