{% extends 'admin.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
{{ block.super }}
<h3>Scores</h3>
<p>Below is a grid displaying the affinity score for each mentor and mentee pair. The mentee usernames are the rows, and the mentor usernames are the columns. The
higher the score, the better the match. A score of - means the mentee already
had a mentor in mind, so scoring was not performed. "(full)" means the mentor already has enough mentees. </p>
<table class="data">
    <thead>
        <tr>
            <td>&nbsp;</td>
            {% for mentor_response in mentor_responses %}
                <td><a href="{% url "surveys-response" mentor_response.response_id %}">{{ mentor_response.user.get_full_name }}</a></td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>
                {% if row|length %}
                <a href="{% url "surveys-response" row.0.mentee_response.response_id %}">{{ row.0.mentee_response.user.get_full_name }}</a></td>
                {% endif %}
                {% for col in row %}
                    <td class="number">
                    {% if col.score == -1 %}
                        -
                    {% elif col.score == -2 %}
                        (full)
                    {% else %}
                        {{ col.score }}
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<table class="panel-view"><tr><td>

<h3>Potential Matches</h3>
<p>These are mentees who need to be paired with a mentor. The 3 best matching mentors are listed in order.
Click the "Recommend" button to pair them.
</p>
<ul>
{% for mentee in unmatched_mentees %}
    <li><a href="{% url "surveys-response" mentee.response_id %}">{{ mentee.user.get_full_name }}</a>
        {% if mentee.suitors %}
            <ul>
            {% for pair in mentee.suitors %}
                <li>
                    {{ pair.score }} {{ pair.mentor.user.get_full_name }}
                    <form method="post" action="{% url 'matches-engage' %}" class="form-button">
                        {% csrf_token %}
                        <input type="hidden" name="mentee_id" value="{{ mentee.pk }}" />
                        <input type="hidden" name="mentor_id" value="{{ pair.mentor.pk }}" />
                        <input type="submit" name="submit" value="Recommend" />
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <em>- See response for preferred mentor</em>
        {% endif %}
    </li>
{% endfor %}
</ul>

</td>
<td>

<h3>Recommended Matches</h3>
<p>You can review your pairings of mentors to mentees here. When you are
satisifed with the pairs, you can finalize them. An email <em>may</em> be sent to
inform the pair of the match (if it is enabled in settings). You can also breakup a pair.</p>
<ul>
{% for mentor in engagements %}
    <li>
        {{ mentor.mentor_name }}
        <ul>
        {% for mentee in mentor.mentees %}
            <li>{{ mentee.mentee_name }}
                <br />
                <form method="post" action="{% url 'matches-marry' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.mentee_id }}" />
                    <input type="hidden" name="mentor_id" value="{{ mentee.mentor_id }}" />
                    <input type="submit" name="submit" value="Finalize" />
                </form>

                <form method="post" action="{% url 'matches-breakup' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.mentee_id }}" />
                    <input type="hidden" name="mentor_id" value="{{ mentee.mentor_id }}" />
                    <input type="submit" name="submit" value="Breakup" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </li>
{% empty %}
    <li>No recommended matches</li>
{% endfor %}
</ul>

</td>
<td>
<h3>Final Matches</h3>
<p>This displays the mentor, and all his or her active mentees. When a mentee
has completed the mentoring program, click the "Complete" button. If the pair
did not work out, click "Revert". The mentee will then move back to the "Potential Matches"
column.</p>
<ul>
{% for mentor in marriages %}
    <li>
        {{ mentor.mentor_name }}
        <ul>
        {% for mentee in mentor.mentees %}
            <li>{{ mentee.mentee_name }}
                <br />
                <form method="post" action="{% url 'matches-divorce' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.mentee_id }}" />
                    <input type="hidden" name="mentor_id" value="{{ mentee.mentor_id }}" />
                    <input type="submit" name="submit" value="Revert" />
                </form>

                <form method="post" action="{% url 'matches-complete' %}" class="form-button">
                    {% csrf_token %}
                    <input type="hidden" name="mentee_id" value="{{ mentee.mentee_id }}" />
                    <input type="hidden" name="mentor_id" value="{{ mentee.mentor_id }}" />
                    <input type="submit" name="submit" value="Complete" />
                </form>
            </li>
        {% endfor %}
        </ul>
    </li>
{% empty %}
    <li>No final matches</li>
{% endfor %}
</ul>


</td>
</tr>
</table>
{% endblock %}

