{% extends 'admin.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
{{ block.super }}
<h2>Manage Mentors/Mentees</h2>
<h3>Mentees</h3>
<table>
{% for mentee in mentees %}
    <tr>
        <td><a href="{% url 'surveys-response' mentee.response_id %}">{{ mentee.user.username }}</a></td>
        <td><a href="{% url 'mentees-delete' 'mentees' %}?id={{ mentee.pk }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<h3>Mentors</h3>
<table>
{% for mentor in mentors %}
    <tr>
        <td><a href="{% url 'surveys-response' mentor.response_id %}">{{ mentor.user.username }}</a></td>
        <td><a href="{% url 'mentors-delete' 'mentors' %}?id={{ mentor.pk }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}

