{% extends 'admin.html' %}

{% block page_title %}Welcome{% endblock %}

{% block content %}
{{ block.super }}
<h3>Manage Mentors/Mentees</h3>
<h4>Mentees</h4>
<p><a href="{% url 'surveys-report' 2 %}">CSV</a></p>
<table>
{% for mentee in mentees %}
    <tr>
        <td><a href="{% url 'surveys-response' mentee.response_id %}">{{ mentee.user.username }}</a></td>
        <td><a href="{% url 'mentees-delete' 'mentees' %}?id={{ mentee.pk }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<h4>Mentors</h4>
<p><a href="{% url 'surveys-report' 1 %}">CSV</a></p>
<table>
{% for mentor in mentors %}
    <tr>
        <td><a href="{% url 'surveys-response' mentor.response_id %}">{{ mentor.user.username }}</a></td>
        <td><a href="{% url 'mentors-delete' 'mentors' %}?id={{ mentor.pk }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}

